* body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  color: #323232;
}

* body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  background-color: rgba(88, 170, 178, 0.5);
  height: 70px;
  width: 100%;
}

* body .form-container {
  background-color: rgba(39, 138, 147, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  margin-bottom: 50px;
}

* body .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

* body .form-container form .input-text {
  color: #278a93;
  padding: 13px 20px;
  font-size: larger;
  border-style: none;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

* body .form-container form .input-text:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* body .form-container form .input-sub {
  color: #323232;
  background-color: white;
  border: 2px solid rgba(50, 50, 50, 0.7);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: larger;
  opacity: 1;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

* body .form-container form .input-sub:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* body pre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  line-height: 25px;
}

* body .tb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body .tb-container table {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  border-collapse: collapse;
}

* body .tb-container table tr {
  background-color: rgba(88, 170, 178, 0.2);
  border-bottom: 1px solid #7a7a7a;
  border-color: white;
}

* body .tb-container table tr th {
  border-bottom: 3px solid #7a7a7a;
  padding: 20px 50px;
  border-color: white;
}

* body .tb-container table tr td {
  padding: 40px 50px;
}

* body .del-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* body .del-container .input-del {
  padding: 10px 25px;
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: #df3e3e;
  font-size: larger;
  color: white;
  border-radius: 5px;
  border-style: none;
  opacity: 1;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

* body .del-container .input-del:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */